body {
  font-family: Arial;
  text-align: center;
}

.profile {
  text-align: left;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

canvas {
  border: 2px solid black;
  display: block;
  margin: auto;
  background: #f9f9f9;
}
